In [1]:
num = 100

In [3]:
if num == 100:
    print('One hundred')
else:
        print('This number is not 100')

One hundred

In [4]:
ls = [1, 2, 3, 4, 10]

In [5]:
if 5 in ls:
    print(5)
else:
    print('not in list')

not in list

In [6]:
6 in ls

False

In [7]:
9 not in ls

True

In [8]:
sum(ls)

20

In [9]:
if sum(ls) == 0:
    print('The sum of elements is 0')
elif sum(ls) < 10:
    print('Sum  is less than 10')
else:
    print('The sum is not within 0-10')

The sum is not within 0-10

In [ ]:
#declare list with any type of elements and use if-else and if-elif-else to get the result of condition
#zadacha

In [11]:
ls1 = ['cherry', 'melon', 2, 4, 6, True]

In [13]:
if True in ls1:
    print('There is a boolean in ls1')
else:
    print('No boolean found')

There is a boolean in ls1

In [21]:
if type(ls1[0] == str):
    print('There is a string in list')
elif type(ls[1] == int):
    print('There is an integer in list')
else:
    print('No connections found')

There is a string in list

In [22]:
ls.extend([10, 11, 20, 18])

In [23]:
ls

[1, 2, 3, 4, 10, 10, 11, 20, 18]

In [25]:
for el in ls:
    print(el)

1
2
3
4
10
10
11
20
18

In [28]:
for i in range(2, 22):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [30]:
ls2 = [i for i in range(22)]
ls2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [31]:
for i in range(8):
    i += 10 #i = i + 10
    print(i)

10
11
12
13
14
15
16
17

In [35]:
num1 = 8
while num1 < 15:
    print(num1)
    num1 += 1

8
9
10
11
12
13
14

In [ ]:
#1.  declare for loop for numbers in range of your choice and multiply each number by 5
#2. declare list of length 10 and with while loop decrease it each time by 1 element

In [39]:
for i in range(10):
    i *= 5
    print(i)

0
5
10
15
20
25
30
35
40
45

In [44]:
ls5 = [30, 29, 28, 27, 26, 25, 24, 23, 22, 21,]
len(ls5)

10